/* Header bar */
[data-testid="stDecoration"] {
		background-image: linear-gradient(90deg, rgb(190, 110, 65), rgb(247, 222, 208));
	}

.custom-line-spacing {
  line-height: 2.5; /* Adjust this value as needed */
}

/* Remove padding on top of the page */
.block-container {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

/* Increase the expander test size */
div[data-testid="stExpander"] details summary p{font-size: 16px;}
